@import 'fonts.scss';
@import 'colors.scss';
@import 'global.scss';

// Import ---------------------------------------------
.main-title {
  font-size: 42px;
  line-height: 60px;
  color: #0f2a48;
  font-weight: 700;
}



body {
  font-family: 'Montserrat', sans-serif;
}

.burger {
  width: 60px;
  height: 60px;
  background: $c-main;
  position: relative;
  flex-shrink: 0;
  left: 0;
  display: none;

  span {
    width: 30px;
    height: 2px;
    background: #fff;
    position: absolute;
    border-radius: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .25s;
  }

  &-line__top {
    margin-top: -8px;
  }

  &-line__bottom {
    margin-top: 8px;
  }
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.header {
  min-height: 100vh;
  background-image: url(../image/header/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 150px;

  &__row {
    min-height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  &__logo {
    padding-left: 45px;
    flex-basis: 175px;
    flex-shrink: 0;
    flex-grow: 1;
  }

  &__row-text {
    font-size: 12px;
    line-height: 22px;
    color: #7598b0;
    font-weight: 300;
    max-width: 275px;
    flex-grow: 1;
    margin-right: 60px;
    margin-left: 15px;
  }

  &__navigation {
    flex-grow: 5;
    position: relative;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
    position: relative;
    z-index: 30;
  }

  &__item {
    padding: 0 10px;

    .header__main-link {
      color: #fefefe;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 30px;
      font-weight: 600;
    }
  }

  &__item-text {
    position: relative;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 30px;
    font-weight: 600;
    color: #fefefe;
    text-transform: uppercase;
    padding: 10px 10px;
    cursor: pointer;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0px;
      width: 8px;
      margin-top: -1px;
      height: 2px;
      background: $c-red;
      transform: rotate(45deg);
      z-index: 2;
    }

    &:before {
      transform: translateX(5px) rotate(-45deg);
    }
  }

  &__search {
    flex-grow: 1;
    position: relative;
    z-index: 30;
  }
}

.droplvl1 {
  position: relative;

  &__list {
    position: absolute;
    display: none;
    top: 0;
    z-index: 10;
    background: #fff;
    transform: translateY(40px);
    padding-top: 40px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    max-width: 370px;
    min-width: 320px;
  }

  &__item {
    position: relative;
    min-height: 55px;
    display: flex;
    z-index: 12;
    align-items: center;
    padding: 0 35px 0 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: .25s;

    &:hover {
      background: #e5eef4;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 20px;
      width: 7px;
      height: 2px;
      background: $c-red;
    }

    &:before {
      transform: translateY(2px) rotate(-45deg);
    }

    &:after {
      transform: translateY(-2px) rotate(45deg);
    }
  }

  &__text {
    font-size: 15px;
    height: 100%;
    color: #0f2a48;
    font-weight: 600;
    letter-spacing: 1;
    text-transform: none;
  }
}

.droplvl2 {
  &__list {
    position: absolute;
    display: none;
    right: 0;
    top: 0;
    transform-origin: right;
    transform: rotate(180deg);
    box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.4);
  }

  &__item {
    transform: rotate(180deg);
    min-height: 55px;
    display: flex;
    align-items: center;
    background: #fff;
  }

  &__link {
    min-height: 55px;
    width: 100%;
    display: block;
    font-size: 13px;
    color: #0f2a48;
    font-weight: 600;
    padding: 17px 25px 17px 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: .15s;

    &:hover {
      background: $c-red;
      color: #fff;
    }
  }
}

.header__item-text:hover+.droplvl1__list {
  display: block;
}

.droplvl1__list:hover {
  display: block;
}

.droplvl1__item:hover>.droplvl2__list {
  display: block;
}

.header-tel {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin-right: 45px;
  white-space: nowrap;

  .tel-red {
    opacity: 0;
  }

  .tel-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__wrapper {
    color: #fff;
    display: block;
    border: none;
    outline: none;
    text-decoration: none;
  }

  &__inner {
    position: relative;
    height: 45px;
    width: 45px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
    margin-right: 22px;
    overflow: hidden;

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      transition: .5s;
    }

    &:before {
      border-left: 1px solid $c-red;
      transform: translateY(-80%);
    }

    &:after {
      border-right: 1px solid $c-red;
      transform: translateY(80%);
    }

    span {

      &:before,
      &:after {
        content: '';
        position: absolute;
        width: 45px;
        height: 1px;
        background: $c-red;
        transition: .5s;
        transition-delay: .3s;
      }

      &:after {
        top: 0;
        right: -110%;
      }

      &:before {
        bottom: 0;
        left: -110%;
      }
    }

    &:hover:before,
    &:hover:after {
      transform: translateY(0);
    }

    &:hover span:before {
      left: 0;
    }

    &:hover span:after {
      right: 0;
    }

    &:hover .tel-blue {
      opacity: 0;
    }

    &:hover .tel-red {
      opacity: 1;
    }
  }

  &__nomber {
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 500;
  }

  &__text {
    font-size: 13px;
    line-height: 24px;
    color: #e62338;
    text-decoration: underline;
  }
}

.search {
  display: flex;
  position: relative;
  justify-content: flex-end;
  flex: 0 0 90px;
  cursor: pointer;

  &__inner {
    width: 90px;
    height: 90px;
    position: relative;
    background: #0a2f48;

    &:before,
    &:after {
      content: '';
      position: absolute;
      opacity: 0;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 2px;
      background: #fff;
      transform: translate(-50%, -50%);
      transition: .1s;
    }
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__wrapper {
    position: absolute;
    bottom: -60px;
    right: -500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(50%);
    max-width: 400px;
    height: 65px;
    background: #fff;
    transition: .4s;
    box-shadow: -4px 4px 10px 3px rgba(0, 0, 0, 0.2);

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 10px;
      z-index: -1;
      width: 15px;
      height: 15px;
      background: #fff;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  &__input {
    margin: 0 20px;
    height: 50px;
    border: none;
    position: relative;
    border-bottom: 2px solid #adadad;
  }

  &__btn {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    border: none;
    background: $c-red;
    cursor: pointer;
  }
}

.header-body {
  &__wrapper {
    min-height: calc(100vh - 140px);
    display: flex;
    align-items: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-size: 58px;
    line-height: 70px;
    color: #ffffff;
    font-weight: 600;
  }

  &__text {
    font-size: 16px;
    line-height: 30px;
    color: #a4bfd2;
    font-weight: 300;
    margin-top: 50px;
  }

  &__btn {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    z-index: 3;
    max-width: 210px;
    text-align: left;
    padding: 1em 1em 1em 30px;
    min-height: 65px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: none;
    color: #fff;
    font-size: 13px;
    letter-spacing: 2px;
    color: #fefefe;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 60px;

    .btn-circle {
      position: absolute;
      top: 30%;
      right: 15%;
      transform: rotate(90deg);
      width: 13px;
      height: 13px;
      transform-origin: right bottom;
      transition: .5s;

      .btn-cricle-fill {
        transition: .5s;
      }
    }

    &:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      left: -72%;
      z-index: -1;
      top: 0;
      background: $c-red;
      transition: all ease-in-out .35s;
    }

    &:hover:before {
      left: 0;
    }

    &:hover .btn-circle {
      transform: rotate(180deg);

      .btn-cricle-fill {
        fill: #fff;
        stroke: #fff;
      }
    }
  }
}

.slider {
  overflow: hidden;
  position: relative;
  z-index: 3;

  &:before {
    content: '';
    position: absolute;
    width: 240px;
    height: 240px;
    bottom: 0;
    left: 0;
    background: #122533;
    opacity: 0.98;
    border-radius: 50%;
    z-index: 1;
    transform: translate(-45%, 50%);
    border: 30px solid $c-red;

  }

  &:after {
    content: '';
    position: absolute;
    width: 410px;
    height: 410px;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    transform: translate(-45%, 50%);
    border: 30px solid #005795;

  }

  &__inner {
    &:before {
      content: '';
      position: absolute;
      width: 95%;
      height: 100%;
      border: 1px solid #4d5357;
      top: -25px;
      right: -15px;
      z-index: 1;
    }
  }

  &-circle {
    position: absolute;
    width: 600px;
    z-index: 5;
    height: 600px;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    transform: translate(-45%, 50%);
    border: 30px solid #005795;
  }

  &-track {
    display: flex;
    transition: 1s;
  }

  &__item {
    height: 440px;
    position: relative;
    min-width: 100%;

    img {
      position: absolute;
      height: 100%;
      max-width: 100%;
      object-fit: cover;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.controls {
  width: 140px;
  height: 140px;
  background: #0a2f48;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 3%;
  transform: translate(-50%, 50%);
  z-index: 5;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    z-index: 10;
    height: 53%;
    background: rgba(255, 255, 255, 0.2);
  }

  &:after {
    content: '';
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 15%;
    background: $c-red;
  }

  &__btn {
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 19px;
    height: 17px;
    background: url(../image/header/slider-img/arrow.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: .25s;

    &:disabled {
      opacity: 0.3;
    }
  }

  &__btn-left {
    margin-left: -30px;
  }

  &__btn-right {
    transform: translate(-50%, -50%) rotate(180deg);
    margin-left: 30px;
  }
}

.main {
  display: flex;
  flex-direction: column;
}

.services__text-sm {
  display: none;
  line-height: 27px;
  color: #485767;
  font-weight: 300;
}

.services {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    background: #f5f9fc;
    height: 100%;
    transform: translateX(50%);
  }

  &__main-title {
    padding-top: 105px;
  }

  &__block {
    margin-top: 75px;
    padding-bottom: 110px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
  }

  &__number {
    flex: 0 0 56px;
    min-height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: $c-red;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 700;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #0f2a48;
    font-weight: 700;
    text-transform: uppercase;
    transition: .25s;
    position: relative;
    padding: 0 15px;

    &:hover {
      color: $c-red;

      span {
        opacity: 1;
        transform: translateX(20px);
      }
    }

    span {
      width: 15px;
      height: 2px;
      background: $c-red;
      position: relative;
      opacity: 0;
      transition: .25s;

      &:before,
      &:after {
        content: '';
        position: absolute;
        width: 7px;
        height: 2px;
        background: $c-red;
        right: 0;
      }

      &:before {
        transform: translateY(-110%) translateX(10%) rotate(45deg);
      }

      &:after {
        transform: translateY(120%) translateX(10%) rotate(-45deg);
      }
    }
  }

  &__inner {
    display: flex;
  }

  &__line {
    flex-basis: 56px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background: #cfdce6;
      width: 0.1px;
      height: 100%;
    }

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      background: $c-red;
      width: 0.1px;
      height: 4%;
    }
  }

  &__img {
    height: 295px;
  }

  &__img img {
    max-width: 100%;
    height: 100%;
  }

  &__text {
    margin-left: 56px;
    margin-top: 38px;
    font-size: 14px;
    line-height: 27px;
    color: #485767;
    font-weight: 300;
  }
}

.system {
  padding-bottom: 100px;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #f5f9fc;
    transform: translateX(-50%);
  }

  &__block {
    margin-top: 40px;
  }

  &__wrapper {
    padding-top: 100px;
  }

  &__title {
    font-size: 15px;
    line-height: 27px;
    color: #0f2a48;
  }

  &__inner {
    display: flex;
    margin-top: 40px;

    &:hover .system__image::before,
    &:hover .system__image::after {
      height: 100%;
      width: 2px;
    }

    &:hover .system__image span::before,
    &:hover .system__image span::after {
      width: 100%;
      height: 2px;
    }
  }

  &__image {
    position: relative;
    flex-shrink: 0;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e0e0e0;

    &::after,
    &::before {
      content: '';
      position: absolute;
      height: 10%;
      width: 1px;
      background: $c-red;
      transition: .5s;
    }

    &::before {
      top: 0;
      left: 0;
    }

    &::after {
      bottom: 0;
      right: 0;
    }

    span {

      &::after,
      &::before {
        content: '';
        position: absolute;
        height: 1px;
        width: 0%;
        background: $c-red;
        transition: .5s;
      }

      &::before {
        top: 0;
        right: 0;
      }

      &::after {
        bottom: 0;
        left: 0;
      }
    }
  }

  &__info {
    padding: 0 25px;
  }

  &__subtitle {
    letter-spacing: 1px;
    line-height: 24px;
    color: #0f2a48;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__text {
    line-height: 25px;
    color: #485767;
    margin-top: 15px;
    font-weight: 300;
    font-size: 14px;
  }
}



.safetysystem {
  position: relative;

  &__block {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &:before {
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    background: #f5f9fc;
    height: 100%;
    transform: translateX(50%);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  &__header {
    display: flex;
  }

  &__number {
    flex: 0 0 56px;
    min-height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: $c-red;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 700;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #0f2a48;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 15px;
  }

  &__inner {
    display: flex;
  }

  &__line {
    flex-basis: 56px;
    position: relative;
    flex-shrink: 0;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background: #cfdce6;
      width: 0.1px;
      height: 100%;
    }

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      background: $c-red;
      width: 0.1px;
      height: 4%;
      transition: .4s;
    }
  }

  &__img {
    height: 240px;
  }

  &__img img {
    max-width: 100%;
    height: 100%;
  }

  &__subtitle {
    font-size: 18px;
    line-height: 24px;
    color: #0f2a48;
    font-weight: 500;
    margin-top: 25px;
  }
}


.consultation {
  min-height: 400px;
  background: url(../image/consultation-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 110px;
  padding-bottom: 100px;

  &__btn {
    padding-right: 3em;
    max-width: 220px;
    display: flex;
    align-items: center;
  }

  &__text {
    font-size: 15px;
    line-height: 27px;
    color: #a4bfd2;
    font-weight: 300;
  }

  &__image {
    width: 186px;
    height: 186px;

    img {
      max-width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__title {
    color: #fff;
    padding-right: 20px;
  }

  &__inner {
    display: flex;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }
}

.about {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f5f9fc;
    transform: translateX(50%);
  }

  &__wrapper {
    padding-top: 100px;
    padding-bottom: 90px;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__text {
    color: #485767;
    font-size: 14px;
    font-weight: 300;
    line-height: 27px;
    padding-right: 20px;
    padding-top: 20px;
    flex-grow: 1;
  }

  &__inner {
    width: 380px;
    height: 576px;

    img {
      max-width: 100%;
      height: 100%;
    }
  }

  &__btn {
    color: #0f2a48;
    border: 1px solid #cfdce6;
  }

  &__partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border: 1px solid #cfdce6;

    .about__block:last-child:before,
    .about__block:last-child:after {
      display: none;
    }
  }

  &__block {
    height: 120px;
    width: 215px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    &:after,
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:before {
      width: 60px;
      height: 2px;
      background: #cfdce6;
    }

    &:after {
      width: 10px;
      height: 2px;
      background: $c-red;
      transition: .4s ease-in-out;
    }

    img {
      max-width: 100%;
      object-fit: contain;
    }

    &:hover::after {
      width: 60px;
    }
  }
}

.completed {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    background: #f5f9fc;
    height: 100%;
    transform: translateX(-50%);
  }

  &__pad {
    padding: 100px 0;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      transform: translateX(110%);
      background: url(../image/Project/signal3.png);
      background-repeat: no-repeat;
      width: 248px;
      height: 248px;
    }
  }

  &__block {
    position: relative;
    margin-top: 40px;
    padding-bottom: 50px;
    border-bottom: 1px solid #cfdce6;

    &:before {
      content: '';
      position: absolute;
      width: 30%;
      height: 2px;
      background: $c-red;
      left: 0;
      bottom: -1px;
      transition: 1s ease-in-out;
    }

    &:hover::before {
      width: 100%;
    }
  }

  &__btn {
    margin: 0;
    flex-grow: 1;
    color: #0f2a48;
    padding: 1em 3em 1em 1.5em;
    border: 1px solid #cfdce6;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
  }

  &__logo {
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
    flex-basis: 56px;
    min-height: 56px;
    border: 1px solid #cfdce6;

    &-one {
      background-image: url(../image/Project/logo1.png);
    }

    &-two {
      background-image: url(../image/Project/logo2.png);
    }

    &-three {
      background-image: url(../image/Project/logo3.png);
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    transition: .25s;
    position: relative;
    padding: 0 15px;
    color: #8191a1;
    font-size: 14px;
    font-weight: 300;

    span {
      width: 15px;
      height: 2px;
      background: $c-red;
      position: relative;
      opacity: 0;
      transition: .25s;

      &:before,
      &:after {
        content: '';
        position: absolute;
        width: 7px;
        height: 2px;
        background: $c-red;
        right: 0;
      }

      &:before {
        transform: translateY(-110%) translateX(10%) rotate(45deg);
      }

      &:after {
        transform: translateY(120%) translateX(10%) rotate(-45deg);
      }
    }
  }

  &__inner {
    display: flex;
  }

  &__line {
    flex-basis: 56px;
    position: relative;
    flex-shrink: 0;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background: #cfdce6;
      width: 0.1px;
      height: 100%;
    }

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      background: $c-red;
      width: 0.1px;
      height: 4%;
    }
  }

  &__img {
    height: 150px;
  }

  &__img img {
    max-width: 100%;
    height: 100%;
  }

  &__text {
    margin-left: 56px;
    margin-top: 30px;
    color: #0f2a48;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    transition: .25s;

    &:hover {
      color: $c-red;
      opacity: 0.8;
    }
  }
}


.footer {
  min-height: 315px;
  background: #0a1f2e;

  &__wrapper {
    padding: 80px 0 60px 0;
    border-bottom: 1px solid #3c4954;
  }

  &__block {
    display: flex;
    flex-wrap: wrap;
  }

  &__info {
    width: 50%;
    padding: 10px 0;
  }

  &-icon__image-r {
    opacity: 0;
    position: absolute;
  }

  &-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border: 1px solid #545875;
    overflow: hidden;

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      transition: .5s;
    }

    &:before {
      border-left: 1px solid $c-red;
      transform: translateY(-80%);
    }

    &:after {
      border-right: 1px solid $c-red;
      transform: translateY(80%);
    }

    span {

      &:before,
      &:after {
        content: '';
        position: absolute;
        width: 45px;
        height: 1px;
        background: $c-red;
        transition: .5s;
        transition-delay: .3s;
      }

      &:after {
        top: 0;
        right: -110%;
      }

      &:before {
        bottom: 0;
        left: -110%;
      }
    }

    &:hover:before,
    &:hover:after {
      transform: translateY(0);
    }

    &:hover span:before {
      left: 0;
    }

    &:hover span:after {
      right: 0;
    }

    &:hover .footer-icon__image-b {
      opacity: 0;
    }

    &:hover .footer-icon__image-r {
      opacity: 1;
    }
  }

  &-tel {
    display: flex;
  }

  &-tel__nomber {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    transition: .25s;

    &:hover {
      color: #7792a8;
    }
  }

  &-tel__wrapper {
    padding: 0 15px;
    display: flex;
    align-items: center;
  }

  &__link {
    color: #7598b0;
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
  }

  &__copy {
    color: #7598b0;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    line-height: 28px;
    padding: 25px 0;
  }
}

// ! Media =======================================================
@media(max-width: 1580px) {
  .header__row {
    min-height: 50px;
  }

  .header-tel {
    margin-right: 10px;
  }

  .header__logo {
    padding-left: 0px;
    margin-left: 20px;

    img {
      max-width: 80%;
    }
  }

  .header__search {
    flex: 0 0 60px;
  }

  .header__row-text {
    margin-right: 10px;
  }

  .search__inner {
    height: 60px;
    width: 60px;
  }
}

@media (max-width: 1490px) {
  .header__row-text {
    margin-left: -20px;
  }

  .header__item .header__main-link,
  .header__item-text {
    font-size: 11px;
  }
}

@media (max-width: 1440px) {

  .header-tel__inner,
  .header-tel__nomber {
    display: none;
  }

  .header-tel__text {
    white-space: normal;
    line-height: 16px;
  }

  .header-tel__wrapper {
    display: flex;
    text-align: right;
  }

  .droplvl2__list {
    position: relative;
    transform: rotate(0);
    width: 100%;
    margin: 10px 0;
  }

  .droplvl2__item {
    transform: rotate(0);
  }

  .droplvl2__link {
    padding: 15px 10px;
  }

  .droplvl1__item {
    display: flex;
    flex-direction: column;
    padding: 15px 10px 15px 10px;
  }

  .droplvl1__item:after,
  .droplvl1__item::before {
    display: none;
  }
}

@media (max-width:1300px) {
  .header__list {
    display: flex;
    flex-wrap: wrap;
  }

  .header__item {
    padding: 0 5px 0;
  }

  .header__item-text {
    padding: 0 5px 0 0;
  }
}

@media (max-width:1200px) {
  .services__number {
    flex: 0 0 47px;
    min-height: 47px;
  }

  .about__info{
    padding-bottom: 50px;
  }

  .completed__pad:after {
    display: none;
  }

  .footer-tel__nomber {
    font-size: 14px;
  }
}

@media (max-width: 1100px) {
  .droplvl1__list {
    transform: translateX(-70%);
    top: 40px;
  }
}

@media (max-width:992px) {
  .slider {
    &:before {
      border: 20px solid #e62338;
      width: 205px;
      height: 220px;
    }

    &:after {
      border: 23px solid #005795;
      width: 320px;
      height: 340px;
    }

    &-circle {
      width: 440px;
      height: 460px;
      border: 23px solid #005795;
    }
  }

  .header-body__title {
    font-size: 38px;
    line-height: 55px;
  }

  .services {
    &__img {
      height: 230px;
    }

    &__number {
      flex: 0 0 41px;
      min-height: 41px;
    }

    &__title {
      font-size: 13px;
    }
  }

  .consultation__inner {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .consultation__image {
    margin-top: 10px;
  }

  .completed__img {
    height: 125px;
  }

  .completed__text {
    font-size: 12px;
  }

  .footer-tel__nomber {
    font-size: 11px;
    line-height: 14px;
  }

  .footer-tel__wrapper {
    padding: 0 5px 0 10px;
  }

  .footer-icon {
    width: 40px;
    height: 40px;
  }

  .footer__link {
    line-height: 14px;
    display: flex;
    padding: 5px 0;
  }
}


@media (max-width:980px) {
  .burger {
    display: block;
    order: -1;
  }

  .header {
    &__list {
      max-width: 200px;
      border: 1px solid rgba(230, 35, 56, 0.2);
      position: fixed;
      flex-direction: column;
      top: 60px;
      background: rgb(255, 255, 255);
      left: -100%;
    }

    &__item {
      padding: 15px 15px 15px 20px;
      margin-right: 40px;
      border-bottom: 1px solid rgba(230, 35, 56, 0.2);
      width: 100%;

      &:last-child {
        border-bottom: none;
      }
    }

    &__item-text {
      color: $c-main;
      line-height: 14px;
      display: flex;
    }

    &__row-text {
      order: -1;
      margin: 5px 0 5px 10px;
      line-height: 1;
    }
  }

  .header__item .header__main-link {
    color: $c-main;
    line-height: 14px;
    display: flex;
  }

  .droplvl2__item {
    min-height: auto;
  }

  .droplvl2__link {
    padding: 5px 10px;
    min-height: auto;
  }

  .droplvl1__list {
    transform: translateX(100%);
    right: -20px;
    top: 0;

    &:after {
      content: '';
      position: absolute;
      top: 10px;
      left: -7px;
      width: 15px;
      height: 15px;
      background: #fff;
      transform: rotate(45deg);
    }
  }

  .droplvl1__text {
    padding: 0;
    font-size: 13px;
  }

  .droplvl1__item {
    min-height: 30px;
    padding: 10px 10px 10px 10px;
  }
}

@media (max-width:767px) {
  .header-body {
    &__text {
      margin-top: 3px;
    }

    &__info {
      text-align: center;
      padding: 40px 0;
      margin-bottom: 30px;
    }

    &__btn {
      margin: 20px auto;
      padding: 1em 3em 1em 2em;
    }

    &__title {
      min-height: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .services {
    &__img {
      height: 250px;
      flex-shrink: 0;
    }

    &__block {
      margin-top: 15px;
    }

    &__wrapper {
      margin-top: 40px;
    }

    &__line {
      flex-shrink: 0;
    }

    &__number {
      flex: 0 0 56px;
      min-height: 56px;
    }

    &__title {
      text-align: left;
      justify-content: start;
    }

    &__text-sm {
      display: block;
      padding: 10px 10px 10px 25px;
    }

    &__text {
      display: none;
    }
  }

  .safetysystem__title {
    justify-content: start;
    text-align: left;
  }

  .completed {
    &__title {
      text-align-last: left;
      justify-content: start;
      padding-left: 2em;
    }

    &__wrapper {
      margin-top: 30px;
    }

    &__block {
      margin-top: 0;
    }
  }

  .footer__wrapper {
    padding: 50px 0;
  }

  .footer__copy {
    padding: 15px 0;
  }
}

@media (max-width:576px) {
  .consultation__image {
    height: 100px;
    width: 100px;
    order: -1;
  }

  .consultation__inner {
    flex-direction: row;

  }

  .consultation {
    padding: 70px 0;
  }

  .about__info {
    padding-bottom: 20px;
  }

  .about__inner {
    height: 300px;
    display: flex;
    justify-content: center;
    width: 100%;

    img {
      width: 300px;
    }
  }

  .about__partners {
    flex-direction: row;
    margin-top: 20px;
    flex-wrap: wrap;

    .about__block:nth-child(3)::before,
    .about__block:nth-child(3)::after {
      display: none;
    }
  }

  .about__block {
    width: 50%;
  }

  .footer__logo {
    align-items: center;
    display: flex;
  }
}

@media (max-width:560px) {
  .burger {
    height: 50px;
    width: 50px;
  }

  .search__inner {
    width: 50px;
    height: 50px;
  }

  .header__list {
    top: 50px;
  }

  .header__item {
    padding: 10px 10px 10px 15px;
  }

  .header__row-text {
    display: none;
  }

  .droplvl1__list {
    max-width: 45vw;
    right: -15px;
  }

  .droplvl1__text {
    white-space: normal;
  }

  .droplvl1__item {
    align-items: start;
  }

  .slider:before {
    border: 16px solid #e62338;
    width: 180px;
    height: 200px;
  }

  .slider:after {
    border: 16px solid #005795;
    width: 270px;
    height: 290px;
  }

  .slider-circle {
    width: 370px;
    height: 390px;
    border: 16px solid #005795;
  }

  .controls {
    width: 120px;
    height: 120px;
  }

  .header-body__title {
    font-size: 32px;
    line-height: 1.3;
  }

  .droplvl2__link {
    white-space: normal;
  }
}

@media (max-width:500px) {
  .services {
    &__img {
      height: 230px;
      flex-shrink: 0;
    }

    &__block {
      margin-top: 15px;
    }

    &__wrapper {
      margin-top: 30px;
    }

    &__text-sm {
      display: none;
    }

    &__text {
      display: block;
      margin-top: 10px;
    }
  }

  .consultation__inner {
    flex-direction: column;
  }
}

@media (max-width:390px) {
  .header__logo img {
    max-width: 100%;
    width: 100%;
  }

  .header__logo {
    max-width: 180px;
    width: 180px;
    flex-shrink: 1;
  }

  .header-tel__text {
    font-size: 11px;
    margin-right: 0px;
  }

  .header__search {
    flex: 0 0 50px;
  }
}

// JS CLASS==============================================================
.open {
  right: 20%;
}

.active-search {
  display: none;
}

.cross {

  &::before,
  &::after {
    opacity: 1;
  }

  &::after {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.active-menu {
  left: 0%;
}

.active-burger {
  .burger-line__center {
    opacity: 0;
    transform: translateX(-50px);
  }

  .burger-line__top {
    transform: translate(-50%, 360%) rotate(-45deg);
  }

  .burger-line__bottom {
    transform: translate(-50%, -360%) rotate(45deg);
  }
}

// End js Class==========================================================

// ! EXPLORER
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .search:hover .search__wrapper {
    right: 20px;

  }

  .search__wrapper {
    top: 0;
    width: 320px;
    background: #fff;
  }

  .btn-circle {
    display: none;
  }

  .header-body__wrapper {
    height: 90vh
  }

  .header-body__btn {
    height: 70px;
  }

  .footer-icon::before,
  .footer-icon::after {
    display: none;
  }

  .footer-icon:hover {
    border: 1px solid $c-red;

    .footer-icon__image {
      opacity: 1;
    }
  }

  .footer-icon {
    transition: .25s;
  }

  .footer-icon__image-r {
    display: none;
  }




}